.form-todos-check-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20%;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}