// Color theme dark

$global-BG-color-Theme-Dark: rgb(82, 78, 69);
$global-color-Theme-Dark: rgb(241, 224, 147);
$content-BG-color-Theme-Dark: rgb(59, 56, 48);
$btn-BG-color-Theme-Dark: rgb(75, 68, 51);
$btn-color-Theme-Dark: rgb(241, 224, 147);
$btn-BG-color-hover-Theme-Dark: rgb(104, 98, 84);
$main-img-Theme-Dark: url(./images/tree.png);
$contactes-li-color-Theme-Dark: rgb(241, 224, 147);
$contactes-li-color-hover-Theme-Dark: rgb(182, 169, 112);
$spinner-loading-color-Theme-Dark: #909397;
$text-color-modal-Theme-Dark: rgb(241, 224, 147);
$bg-modal-body-Theme-Dark: rgb(59, 56, 48);
$danger-Theme-Dark: rgb(189, 40, 40);
$danger-hover-Theme-Dark: rgb(167, 34, 34);
$modal-content-Theme-Dark: rgb(105, 95, 84);

// Color theme light

$global-BG-color-Theme-Light: rgb(224, 206, 160);
$content-BG-color-Theme-Light: bisque;
$btn-BG-color-Theme-Light: rgb(201, 184, 142);
$btn-BG-color-hover-Theme-Light: rgb(161, 145, 104);
$main-img-Theme-Light: url(https://img2.freepng.ru/20180228/guw/kisspng-hardwood-wood-stain-varnish-wood-flooring-wood-5a975a84d11952.1196449415198685488565.jpg);
$contactes-li-color-Theme-Light: black;
$contactes-li-color-hover-Theme-Light: rgb(71, 68, 53);
$spinner-loading-color-Theme-Light: #555d69;
$text-color-modal-Theme-Light:  black;
$bg-modal-body-Theme-Light: bisque;
$danger-Theme-Light: rgb(189, 40, 40);
$danger-hover-Theme-Light: rgb(167, 34, 34);

// fonts

$main-font: 'Lobster', cursive;
$title-font: 'Dancing Script', cursive;